:root {
  --main-color: #00d49f;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #7c7c7c;
  --header-height: 60px;
  --header__ad-height: 40px;
}

* {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: HKGrotesk-Bold;
}

@font-face {
  font-family: HKGrotesk-Bold;
  src: url(../fonts/hkgrotesk/OTF/HKGrotesk-Bold.otf);
}

@font-face {
  font-family: HKGrotesk-Med;
  src: url(../fonts/hkgrotesk/OTF/HKGrotesk-Medium.otf);
}

@font-face {
  font-family: HKGrotesk-semiBold;
  src: url(../fonts/hkgrotesk/OTF/HKGrotesk-SemiBold.otf);
}

@font-face {
  font-family: HKGrotesk-Nor;
  src: url(../fonts/hkgrotesk/OTF/HKGrotesk-Regular.otf);
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: HKGrotesk-Bold;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

span {
  display: block;
}

button {
  border: none;
}

.header {
  color: var(--white-color);
}

/* .btn {
  transition: all 0.3s;
}

.btn:hover {
  filter: brightness(90%);
  transition: all 0.3s;
} */

/* animation */
@keyframes dropDown {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes growY {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes growX {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

/* body */
.author {
  color: var(--white-color);
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #333;
}

.time {
  color: #b2b2b2;
  font-size: 1.2rem;
  font-family: HKGrotesk-Med;
  text-shadow: 1px 1px 1px #333;
}

.dot {
  color: #999;
  font-size: 1.4rem;
  padding: 0 6px;
}

.heading {
  color: var(--white-color);
  line-height: 24px;
  transition: color 0.3s;
}

.img {
  width: 100%;
  border-radius: 4px;
}

.content__label {
  display: flex;
  margin-bottom: 20px;
}
.content__label-name {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: var(--main-color);
}
.content__label-icon {
  color: var(--main-color);
  padding-left: 12px;
  font-size: 2.6rem;
  margin: auto 0;
}

.post {
  transition: transform 0.3s;
  padding: 15px 0;
}

.post:hover .heading {
  color: var(--main-color);
  transition: color 0.3s;
  /* text-shadow: 1px 1px 2px var(--main-color); */
}

.post:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}
