.body {
  background-color: var(--black-color);
  margin-top: calc(var(--header-height) + var(--header__ad-height));
  /* width: 100%; */
}

.intro {
  color: #999;
  display: flex;
  justify-content: center;
  margin: 12px 0 30px;
  font-size: 1.2rem;
  font-family: HKGrotesk-Med;
}

.intro a {
  color: #999;
  margin-left: 4px;
}

.content__intro {
  padding-bottom: 60px;
}

.intro__sub-content-item {
  padding: 10px 0;
}

.intro__sub-content-img {
  width: 100%;
}

.intro__sub-content-heading {
  font-size: 18px;
  padding-top: 8px;
}

.post:hover .intro__sub-content-author,
.post:hover .intro__main-content-author {
  color: var(--white-color);
  transition: color 0.3s;
}

.intro__sub-content-author {
  font-size: 1.2rem;
  color: #999;
  transition: color 0.3s;
  padding-top: 8px;
}

.intro__main-content-item {
  padding: 10px 0;
}

.intro__main-content-heading {
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.intro__main-content-abstract {
  padding-top: 10px;
  font-size: 2rem;
  line-height: 2.6rem;
  color: var(--white-color);
  font-family: HKGrotesk-Nor;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.intro__main-content-author {
  padding-top: 10px;
  color: #999;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.sub__content-type-1 {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  transition: color 0.3s;
  position: relative;
}

.sub__content-type-1::after {
  content: "";
  position: absolute;
  height: calc(100% - 30px);
  width: 2px;
  left: 0;
  top: 15px;
  background-color: #333;
  border-radius: 10px;
  z-index: 1;
}

.sub__content-type-1::before {
  content: "";
  position: absolute;
  height: calc(100% - 30px);
  width: 2px;
  left: 0;
  top: 15px;
  background-color: var(--white-color);
  border-radius: 10px;
  transform: scaleY(0);
  transition: transform 0.3s;
  z-index: 2;
}

.sub__content-type-1:hover::before {
  transition: transform 0.3s;
  z-index: 2;
  transform: scaleY(1);
  background-color: var(--white-color);
  transform-origin: center;
}

.sub__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub__content-heading {
  font-size: 1.8rem;
  max-width: 92%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sub__content-detail {
  display: flex;
}

.sub__content-img {
  height: 80px;
  width: auto;
  background-size: auto;
}

.sub__content-type-2 {
  display: flex;
}

.sub__content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub__content2-heading {
  margin-right: 30px;
  font-size: 2.4rem;
  line-height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sub__content-img2 {
  height: 155px;
  max-width: 274px;
}

.main__content-img {
  background-clip: padding-box;
  height: 330px;
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
  padding: 30px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
}

.main__content-heading {
  text-shadow: 1px 1px 2px #333;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__subscribe {
  background-color: #333;
  padding: 30px;
  border-radius: 4px;
}

.content__subscribe-top {
  display: flex;
}

.content__subscribe-icon {
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 4px;
  box-shadow: 0 4px 12px -4px rgb(0 212 159 / 50%);
}

.content__subscribe-heading,
.content__subscribe-subheading,
.content__subcribe-policy {
  user-select: none;
  cursor: default;
}

.content__subscribe-heading {
  font-size: 2.4rem;
  margin-bottom: 12px;
}

.content__subscribe-subheading {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: HKGrotesk-SemiBold;
}

.content__subscribe-input,
.content__subscribe-button {
  margin-top: 30px;
  border-radius: 4px;
}

.content__subscribe-input {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  font-size: 1.8rem;
}

.content__subscribe-button {
  width: 100%;
  padding: 14px 14px 13px;
  font-size: 1.8rem;
  color: var(--white-color);
  background-color: var(--main-color);
  box-shadow: 0 4px 12px -4px rgb(0 212 159 / 50%);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}

.content__subscribe-button:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.content__subscribe-policy {
  margin-top: 10px;
  color: #ccc;
  font-family: HKGrotesk-Med;
}

.content__subscribe-policy-link {
  color: var(--main-color);
  font-family: HKGrotesk-SemiBold;
  display: contents;
  width: 90px;
}

.content__poll {
  color: var(--white-color);
}

.content__poll-question {
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding-bottom: 6px;
}
.content__poll-voted {
  font-size: 1.4rem;
  color: #999;
  padding-bottom: 4px;
}

.content__poll-choice {
  color: var(--white-color);
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  font-size: 1.6rem;
  background-color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 1;
}

.content__poll-choice:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.content__poll-choice:focus {
  border: 2px solid var(--main-color);
  padding: 12px;
  box-shadow: 0 4px 12px -4px rgb(0 212 159 / 50%);
}

.content__poll-submit {
  color: var(--white-color);
  width: 25%;
  margin: 10px 0;
  padding: 12px 0;
  font-size: 1.6rem;
  float: right;
  background-color: var(--main-color);
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 12px -4px rgb(0 212 159 / 50%);
  transition: opacity 0.3s;
  opacity: 1;
  position: relative;
}

.content__poll-submit:hover {
  transition: opacity 0.3s;
  opacity: 0.8;
}

.content__video {
  height: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__video-img {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.content__video-icon {
  width: 45px;
  font-size: 4rem;
  position: absolute;
  z-index: 2;
  top: calc(var(--video-height) / 2);
  left: calc(50% - 20px);
  color: rgba(200, 200, 200, 0.8);
  transition: color 0.2s;
}

.content__video-icon:hover {
  transition: color 0.2s;
  color: rgba(255, 0, 0, 0.9);
}

.content__slider-heading {
  margin-top: 4px;
  line-height: 20px;
  font-size: 1.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video:hover .content__slider-heading {
  color: var(--main-color);
}

.content__deal {
  display: flex;
  height: 235px;
  padding: 15px 0;
  border-radius: 4px;
  cursor: pointer;
}

.content__deal-img-container {
  padding: 15px;
  background-color: #333;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.content__deal-img {
  width: 300px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.content__deal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 15px 15px 15px 0;
  width: 50%;
  border: none;
}

.content__deal-heading {
  font-size: 1.8rem;
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 2;
  -webkit-box-orient: horizontal;
}

.content__deal-price {
  color: var(--white-color);
  font-size: 2rem;
  line-height: 2.4rem;
  display: flex;
  padding-top: 20px;
  margin-left: 10px;
  justify-content: space-between;
}

.content__deal-old-price {
  font-size: 1.8rem;
  color: #999;
  align-self: flex-end;
  text-decoration: line-through;
}

.content__deal-save {
  color: var(--main-color);
  font-size: 1.4rem;
  white-space: nowrap;
}

.content__deal-shopping {
  display: flex;
  justify-content: space-between;
}

.content__deal-shopping a {
  color: var(--white-color);
  font-size: 1.4rem;
  padding: 10px 23px;
  background-color: var(--main-color);
  border-radius: 4px;
  transition: opacity 0.2s;
  text-align: center;

  /* width: 40%; */
}

.content__deal-shopping a:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}
