.body {
  background-color: var(--black-color);
  margin-top: calc(var(--header-height) + var(--header__ad-height));
}

.intro {
  color: #999;
  display: flex;
  justify-content: center;
  margin: 12px 0;
  font-size: 1.2rem;
  font-family: HKGrotesk-Med;
}

.intro a {
  color: #999;
  margin-left: 4px;
}

.content__intro {
  padding-bottom: 60px;
}

.intro__sub-content {
}

.intro__sub-content-item {
  padding: 10px 0;
}

.intro__sub-content-img {
  /* background-size: cover; */
  width: 100%;
}

.intro__sub-content-heading {
  font-size: 18px;
  padding-top: 8px;
}

.post:hover .intro__sub-content-author,
.post:hover .intro__main-content-author {
  color: var(--white-color);
  transition: color 0.3s;
}

.intro__sub-content-author {
  font-size: 1.2rem;
  color: #999;
  transition: color 0.3s;
  padding-top: 8px;
}

.intro__main-content-item {
  padding: 10px 0;
}

.intro__main-content-heading {
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding-top: 15px;
}

.intro__main-content-abstract {
  padding-top: 10px;
  font-size: 2rem;
  line-height: 2.6rem;
  color: var(--white-color);
  font-family: HKGrotesk-Nor;
}

.intro__main-content-author {
  padding-top: 10px;
  color: #999;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.sub__content-type-1 {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  transition: color 0.3s;
  position: relative;
}

.sub__content-type-1::before {
  content: "";
  position: absolute;
  height: calc(100% - 30px);
  width: 2px;
  left: 0;
  top: 15px;
  background-color: #333;
  transform: animation 0.3;
}

.sub__content-type-1:hover::before {
  animation: growY ease 0.4s;
  background-color: var(--white-color);
  transform-origin: center;
}

.sub__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub__content-heading {
  font-size: 1.8rem;
  max-width: 92%;
}

.sub__content-detail {
  display: flex;
}

.sub__content-img {
  height: 80px;
  width: auto;
  background-size: auto;
}

.sub__content-type-2 {
  display: flex;
}

.sub__content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub__content2-heading {
  margin-right: 30px;
  font-size: 2.4rem;
  line-height: 3rem;
}

.sub__content-img2 {
  height: 155px;
}

.main__content-img {
  background-clip: padding-box;
  height: 330px;
  background-size: contain;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
}

.main__content-heading {
  text-shadow: 1px 1px 2px #333;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 12px;
}
