.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 0 40px;
  transition: ease 0.3s;
  position: relative;
}

.header .header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 187px;
  height: 24px;
  display: block;
}

.header__navbar {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navbar__option:hover .subnav {
  display: block !important;
}

.navbar__option {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #636363;
  font-size: 1.6rem;
  padding: 0 20px;
  cursor: pointer;
  transition: color 0.3s;
}
/* 
.navbar__option::before {
  content: "";
  position: sticky;
  top: calc((100% / 2) + 5px);
  left: calc(50% - 7px);
  border: 14px solid;
  border-color: transparent transparent #fff transparent;
  z-index: 3;
} */

.navbar__option-link {
  color: #636363;
}

.navbar__option:hover,
.navbar__option-link:hover {
  color: var(--white-color);
  transition: color 0.2s;
}

.navbar__option-icon {
  font-size: 1.2rem;
  padding-bottom: 4px;
  margin-left: 6px;
  transition: transform 0.3s;
}

.navbar__option:hover .navbar__option-icon {
  transform: rotate(180deg);
  color: var(--main-color);
  transition: transform 0.3s;
}

.subnav {
  display: none !important;
  position: absolute;
  top: 102%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(28, 28, 28, 0.8);
  backdrop-filter: blur(30px);
  padding: 30px 30px 20px !important;
  border-radius: 4px;
  z-index: 3;
  animation: dropDown ease 0.3s;
  transform-origin: top;
}

.subnav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  top: -5px;
}

.subnav__list {
  position: relative;
  padding-top: 10px;
}

.subnav__list::before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  top: 0px;
  border-radius: 10px;
  opacity: 0.2;
  transition: opacity ease 0.3s;
}

.subnav__list:hover::before {
  background-color: var(--main-color);
  box-shadow: 0 4px 12px -4px rgba(0, 212, 159, 0.5);
  transition: opacity ease 0.3s;
  animation: growX ease 0.5s;
  transform-origin: left;
  opacity: 1;
}

.subnav__item-link {
  font-size: 1.6rem;
  padding: 10px 0;
  text-align: left;
  color: var(--white-color);
  font-family: HKGrotesk-Med;
  transition: all ease 0.2s;
}
.subnav__item-link:hover {
  color: var(--main-color);
  transition: all ease 0.2s;
  transform: scale(1.05);
  margin-left: 10px;
}

.subnav__item-all {
  color: var(--main-color);
}

.subnav__social {
  display: flex;
  /* justify-content: center; */
  align-content: center;
}

.subnav__social-name {
  display: flex;
  font-size: 1.6rem;
  font-family: HKGrotesk-Med;
}

.subnav__item-heading {
  text-align: left;
  padding: 10px 0;
  font-size: 1.6rem;
  opacity: 0.7;
  user-select: none;
  cursor: default;
}

.subnav__item-icon {
  width: 20px;
  height: 20px;
  font-size: 1.6rem;
  margin-right: 12px;
  display: flex;
}

.subnav__item-ad {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px 16px;
  margin-top: 10px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  background-color: var(--black-color);
}

.subnav__item-ad:hover .subnav__item-ad-icon {
  transform: translateX(6px);
  transition: transform 0.2s;
}

.subnav__item-ad-link {
  color: var(--white-color);
}

.subnav__item-ad-icon {
  transition: transform 0.2s;
}

.header__search {
  width: 40px;
  height: 40px;
  top: 10px;
  background-color: transparent;
  position: relative;
  margin-right: 18px;
  cursor: pointer;
}

.header__search:focus .header__search-bar {
  display: flex;
  transform-origin: right;
  animation: growX ease 0.3s;
}

.header__search:focus {
  background-color: #333;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header__search:hover .header__search-icon {
  color: var(--main-color);
  transition: color ease 0.2s;
}

.header__search-close:hover {
  color: red;
}

.header__search-icon {
  color: var(--white-color);
  font-size: 1.8rem;
  transition: color ease 0.2s;
}

.header__search-bar {
  position: absolute;
  right: 40px;
  top: 0px;
  display: flex;
  height: 40px;
  width: 280px;
  justify-content: space-between;
  z-index: 2;
  background-color: var(--black-color);
  display: none;
}

.header__search-bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  left: -50px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    var(--black-color) 20%,
    var(--black-color) 100%
  );
}

.header__search-form {
  width: 230px;
  background-color: #333;
  border: none;
  outline: none;
  padding-left: 10px;
  color: var(--white-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.header__search-form::placeholder {
  outline: none;
}

.header__search-close {
  color: var(--white-color);
  font-size: 1.6rem;
  padding: 12px;
  background-color: #333;
  border-radius: 4px;
}

/* .header__search-close:focus .header__search-bar {
  display: none;
} */

.header__deals {
  display: block;
  align-self: center;
  font-size: 1.4rem;
  color: var(--white-color);
  padding: 0 24px;
  height: 40px;
  line-height: 40px;
  background-color: #151515;
  border-radius: 4px;
  transition: opacity ease 0.2s;
}

.header__deals:hover {
  opacity: 0.75;
  transition: opacity ease 0.2s;
}

.header__deals-icon {
  margin-left: 10px;
}

.header__ad {
  position: absolute;
  display: flex;
  width: 100%;
  top: 60px;
  left: 0;
  height: 40px;
  background-color: var(--main-color);
  box-shadow: 0 4px 12px -4px rgba(0, 212, 159, 0.5);
  user-select: none;
  cursor: pointer;
  z-index: 2;
}

.header__ad-content {
  display: flex;
  margin: 13px 20px;
  color: var(--black-color);
  transition: color ease 0.2s;
}

.header__ad:hover .header__ad-content {
  color: var(--white-color);

  transition: color ease 0.2s;
}

.header__ad-icon {
  font-size: 1.4rem;
}

.header__ad-icon:first-child {
  margin-right: 10px;
}

.header__ad-icon:last-child {
  margin-left: 20px;
  transition: transform 0.2s;
}

.header__ad:hover .header__ad-icon:last-child {
  transform: translateX(4px);
  transition: transform 0.2s;
}

.header__ad-title {
  font-size: 1.4rem;
}
